.usericon {
  margin: 5px;
  border-radius: 50%;
  background-image: url("../images/rose.jpg");
  background-size: cover;
}

.button-like {
  display: inline-block;
  padding: 0 20px;
  margin: 2px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
  border: 1px solid black;
}
.post-photo {
  overflow: hidden;

  overflow: hidden;
}

/* .post {
  position: relative;
  top: 22vh;
  left: -0.5vw;
  transform: translate(5%, -40%);
} */
.button-like {
  user-select: none;
}
.post {
  width: 100%; /* Set the width of the image to 100% of the container */
  height: 100%; /* Set the height of the image to 100% of the container */
  object-fit: cover; /* Maintain the aspect ratio and cover the entire container */
  display: block;
}
