.usericon {
  margin: 5px;
  border-radius: 50%;
  background-image: url("../images/rose.jpg");
  background-size: cover;
}

.button-like {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.post-photo {
  overflow: hidden;

  left: 4vw;
  top: 28vh;
  overflow: hidden;
}
.post {
  .post {
    position: relative;
    top: 22vh;
    left: -0.5vw;
    transform: translate(5%, -50%);
  }
}
