.container {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 5vh;
	height: 10vw;
	width: 100%;
	z-index: 1000;
	overflow-y: scroll;
	position: relative;
}
/* .comment-box-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
  } */

.commentBox {
	margin-top: 5vh;
	height: 35vw;
	width: 100%;
	background-color: #d4c4c4ec;
	overflow-x: hidden;
	overflow-y: scroll;
}
.image {
	height: 36px;
	width: 36px;
	margin: 4vh;
	border-radius: 50%;
}
.tohide {
	height: 12vh;
	width: 29vw;
	background-color: inherit;
	position: fixed;
	left: 73vh;
	bottom: 4.8vw;
}
.name {
	position: relative;
	left: 67px;
	bottom: 49px;
}
.comment {
	position: relative;
	left: 73px;
	bottom: 37px;
	width: fit-content;
	background-color: #868c7745;
}
.inputcomment {
	height: 8vh;
	width: 22vw;
	border-radius: 5px;
	border: 2px solid black;
	bottom: 12vh;
	left: 33vw;
	z-index: 1;
}
.send {
	height: 8vh;
	width: 70px;
	padding: 0px 5px;
	border-radius: 4px;
	border: 2px solid black;
	/* position: relative;

	right: 39vw;
	bottom: 12vh; */
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #aaa78d;
}
