.navbar {
  height: 8vh;

  display: flex;
}
.appicon {
  height: 43px;
  width: 43px;
  position: relative;
  bottom: 4px;
  left: 4px;
}
.navbar > div {
  display: flex;
  align-items: center;
}
.search {
  border-radius: 20px;
  background-color: #c0c0c0;

  padding: 10px;
  outline: none;
  margin: 3px;
  font-size: smaller;
}

.search::placeholder {
  color: rgb(143, 137, 137); /* Set the placeholder color */
}
.navicons {
  width: 40vw;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
}
.navleft {
  margin-left: 160px;
}
.navleft > div {
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;

  margin-right: 5px;

  background-color: #c0c0c0;
}
